body{
background-image: url("bckg.jpg")

}

.textbox{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 40px;
    text-align: center;
    width:150px;
    height: 80px;
border-radius: 3px;
background-color:rgb(253, 93, 128);
border-style: none;
border-bottom-style: outset;
border-left-style: outset;

}

.tlacitka{
    border-style: none;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 25px;
    text-align: center;
    width: 110px;
    height: 84px;
    border-radius: 3px;
    background-color: rgb(255, 230, 173);
}
table{

    margin:auto;
}
#pravidla{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 25px;
    text-align: center;
    border-radius: 3px;
    border-style: none;
    background-color: rgb(255, 230, 173);
height: 84px;
width: 270px;
margin: auto;
}

#pZetony{
    color: white;
    width: 200px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: rgb(63, 63, 63);
}

#body{
    color: white;
    background-color: rgb(63, 63, 63);
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 25px;
    width: 200px;
}
.nadpisky{

    color: white;
    background-color: rgb(63, 63, 63);
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.restartuj{

    border-style: none;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 25px;
    text-align: center;
    width: 200px;
    height: 84px;
    border-radius: 3px;
    background-color: rgb(255, 230, 173);

}
.hlaska{

    border-style: none;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 17px;
    text-align: center;
}